.header{
    padding:3rem 1rem 2rem;
    border-bottom: 1px solid var(--gray-20);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--gray-06);
}
.headerImage{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
    display: none;
}
.headerLogo{
    z-index: 2;
}

@media screen and (min-width: 938px) {
    .headerImage{
        display: flex;
        width: 938px;
        height: 146px;
        background-image: url('./assets/header_bg_image-min.png');
    }
}