.content{
    display: flex;
    flex-direction: column;
    margin-top:2rem;
    width:100%;
    gap:1.25rem;
    padding:0 1rem;
}
.contentSection{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contentSection h2,
.contentSection h3,
.completeRow h2,
.completeRow h3,
.equipeItem h4,
.gameInfo h4{
    color: var(--gray-80);
}
.contentSection i,
.completeRow i{
    font-weight: bold;
    color: var(--gray-80);
}
.contentSection p,
.completeRow p{
    color: var(--gray-70);
    margin-top:.85rem;
    line-height: 1.5rem;
}
.sideContent{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-20);
    padding:.5rem;
    gap: .5rem;
}
.gameTitleHead{
    width:100%;
    padding:.5rem .75rem;
    background-color: var(--gray-20);
    color: #a1767d;
    font-size:1.25rem;
    text-align: center;
    font-style: italic;
}
.firstPlace{
    width: 100%;
    padding:.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D89A00;
    color: var(--gray-10);
    font-size: .95rem;
}
.firstPlace a{
    margin-left:3px;
    transform: translateY(2px);
    color:#10498B;

}
.playButton{
    background: #021D3B;
    color: #007AFF;
    border-radius:.5rem;
    margin-top:1rem;
    display: flex;
    justify-content: center;
    padding:1rem .75rem;
}
.playButton svg{
    margin-left:3px;
    transform: translateY(-2px);
}
.featureGrid{
    display: flex;
    flex-direction: column;
    margin-top:.5rem;
    gap:.5rem;
}
.feature{
    display: flex;
    flex-direction: column;
    border-radius:.25rem;
    overflow: hidden;
    cursor: pointer;
    border:2px solid transparent;
}
.feature:hover{
    border-color:#825960;
}
.feature:hover img{
    transform: scale(105%);
}
.feature img{
    width: 100%;
    transition:transform .3s ease-in-out;
}
.feature span{
    width:100%;
    padding:.5rem;
    text-align: center;
    background: #64484D;
    color: var(--gray-70);
    font-size:0.9rem;
}

.gameInfo{
    display: flex;
    flex-direction: column;
}

.gameInfo p{
    color: var(--gray-70);
    margin-top:.5rem;
}
.gameInfo b{
    color: var(--gray-80);
}

@media screen and (min-width: 415px) {
    .featureGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 900px) {
    .content{
        display: grid;
        grid-template-columns: 3fr 2fr;
        width:900px;
        gap:1rem;
        justify-content: start;
        padding:0 0 3rem;
    }
}

